/* #outer {
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin: 10px;
}

.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50%;
}




 */

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.traffic-light {
    width: 100px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

